.fastembed_cache/
.cargo-deny/
/target
/test_framework/target
/vardaclaw/target
/management/target
/runtime/target
/client/rust/target
/client/typescript/dist
/client/typescript/node_modules
/varda_blobs
/varda_db_data
/db_data
